{% extends "base_admin.html" %}
{%block scripts%}
h3{
	color: grey;
}
{%endblock%}

{% block tickets %}class ="selected"{%endblock%}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}<br>
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
{% if approve %}<br>
<ul class="messages">
    <p class="success">This ticket is ready for your review.  Please approve or reject by selecting the appropriate button</p>
</ul>
{% endif %}
<div class="container">
	<div class="span-3"><p></p></div>
<div class="example1 pdding prepend-top span-17 last append-bottom">
	<h1><b>ticket details </b> {% if assign %}<form action="ticket_{{p.id}}/assign/"><button class="submit">ASSIGN COACH </button></form>{% endif %}
		{% if approve %}<br><a href=/app_admin/ticket_{{p.id}}/approve/><button class="submit">APPROVE TICKET</button></a><br>
		<a href=/app_admin/ticket_{{p.id}}/reject/><button class="submit">REJECT TICKET</button></a>{% endif %}</h1> <hr>
	
	<div class="span-4 append-1">
	<h3 align=""><b>tutee</b></h3>
	</div>	
	<div class="span-12 last">
	<h2 align="">{{p.tutee.user.first_name}} {{p.tutee.user.last_name}} ({{p.tutee.user.username}})</h2>
	</div><hr>
	<div class="span-4 append-1">
	<h3 align=""><b>conference talk title</b></h3>
	</div>	
	<div class="span-12 last">
	<h2 align="">{{p.title}}</h2>
	</div><hr>
	<div class="span-4 append-1">
	<h3 align=""><b>paper abstract</b></h3>
	</div>
	<div class="span-12 last">
	<h3 style="color:black" align="">{{p.description}}</h3>
	</div><hr>
	<div class="span-4 append-1">
	<h3 align=""><b>approximate conference presentation date</b></h3>
	</div>
	<h2 align="">{{p.date_of_interest}}</h2><hr>
	<div class="span-4 append-1">
	<h3 align=""><b>area of interest</b></h3>
	</div>
	<div class="span-12 last">
	<h2 align="">{{p.area_of_interest}}</h2>
	</div><hr>
	<div class="span-4 append-1">
	<h3 align=""><b>status</b></h3>
	</div>
	<div class="span-12 last">
	<h2 align="">{{p.get_status_display}}</h2>
	</div><hr>

	<!-- COACH INFORMATION SECTION -->
	<h2><b>coach assignment</b></h2><hr>
	<div class="span-4 append-1">
	<h3 align=""><b>name (athena)</b></h3>
	</div>
	<div class="span-12 last">
	<h2 align="">{% if p.coach %}{{p.coach.user.first_name}} {{p.coach.user.last_name}} ({{p.coach.user.username}}){%endif%}
		{% if assign %}<form action="ticket_{{p.id}}/assign/"><button class="submit ">ASSIGN COACH </button>{% endif %}</h2>
	</div><hr>

	<!-- MEETING DETAILS (AFTER COACH SUBMITS) SECTION -->
	<h2><b>meeting details</b>
		{% if confirm %}<br><a href=/tutee/ticket_{{p.id}}/confirm/><button class="submit">CONFIRM MEETING</button></a><br>
		<a href=/tutee/ticket_{{p.id}}/reject/><button class="submit">REJECT MEETING</button></a>{% endif %}</h2>
			<p style="color:gray">Note: This section will remain blank until a meeting has occurred and the assigned coach has submitted meeting details for this ticket.</p><hr>
	
			<div class="span-4 append-1">
			<h3 align=""><b>meeting date</b></h3>
			</div>
			<div class="span-12 last">
			<h2 align="">{{tix_details.meeting_date}}</h2>
			</div><hr>
			<div class="span-4 append-1">
			<h3 align=""><b>meeting duration (in minutes)</b></h3>
			</div>
			<div class="span-12 last">
			<h2 align="">{{tix_details.meeting_duration}}</h2>
			</div><hr>
			<div class="span-4 append-1">
			<h3 align=""><b>meeting details</b></h3>
			</div>
			<div class="span-12 last">
			<h2 align="">{{tix_details.meeting_details}}</h2>
			</div><hr>
			<div class="span-4 append-1">
			<h3 align=""><b>video</b></h3>
			</div>
			<div class="span-12 last">
			<h3 style="color:black" align=""><a href="{{vid.video}} {{vid.video_url}}">{{vid.video}} {{vid.video_url}}</a></h3>
			</div><hr>
</div>
</div>
{% endblock %}