{% extends 'base_admin.html' %}
{% block coaches %}class="selected"{% endblock%}
{% block content %}
<div class="container">
	<div class="span-3"><p></p></div>
	<div class="example1 pdding prepend-top span-17 last append-bottom">
		<h1><b>coaches	</b></h1><hr>
		{% if coaches %}
			{% for c in coaches %}
			
			<div style="height:25px; background-color:#CACACA" class ="span-14 pdding example1 center last append-bottom">
				<div class="span-9">
					<h3 align="">{{c.course}} <b>{{ c.user.first_name }} {{c.user.last_name}}</b> ({{c.user.username}})</h3>
				</div>
			<div class="span-5 last">
					<form action="/uap_app/admin/view_coach{{c.id}}/">
						<button id="submit" class ="submit center span-2" type="submit" value="submit">VIEW ASSIGNED TICKETS</button>
					</form>
				</div>
			</div>
			
			{% endfor %}
		{% endif %}
		
	</div>
</div>
{% endblock %}