{% extends "base_test.html" %}
{%block tickets%} class="selected"{%endblock%}

{% block content %}

<div class="container">
	<div class="span-3"><p></p></div>
<div class="example1 pdding prepend-top span-17 last append-bottom">
	<h1><b>my tickets</b></h1> <hr>
	<div class="append-bottom">
	<h2 align=""><b>open ticket</b></h2>
	{% if curr %}
		{% for c in curr %}
		<div style="height: 35px; background-color:#CACACA" class ="span-15 pdding example1 append-bottom center last">
			<div class="span-9 ">
			<h4><b>{{ c.title }}</b>--({{c.date_of_interest}})<br>{{c.area_of_interest}}</h4>
		</div>
		<div class="prepend-1 span-5 last">
			<form action="/uap_app/tutee/ticket_{{c.id}}">
				<button id="submit" style="width:130px" class="submit center" type="submit" value="submit">VIEW DETAILS</button>
			</form>
		</div>
		</div>
		{% endfor %}
	{% else %}
	<h4 align="center">You have no open tickets.</h4>
	<form action="/uap_app/tutee/new_ticket/">
	<button id="submit" class="submit center span-4" type="submit" value="submit">CREATE NEW TICKET</button>
	</form>
	{% endif %}
	</div>
	<hr>
	
	<h2 align=""><b>previous tickets</b></h2>
	{% if projects %}
	   {% for p in projects %}
		<div style="height: 35px; background-color:#CACACA" class ="span-15 pdding example1 append-bottom center last">
			<div class="span-9 ">
			<h4><b>{{ p.title }}</b>--{{p.meeting_date}}<br>coach: {{p.coach.user.first_name}} {{p.coach.user.last_name}}</h4>
		</div>
		<div class="prepend-1 span-5 last">
			<form action="/uap_app/tutee/ticket_{{p.id}}">
				<button id="submit" style="width:130px" class="submit center" type="submit" value="submit">VIEW DETAILS</button>
			</form>
		</div>
		</div>
		{% endfor %}
		
		{% for p in cancelled %}
		<div style="height: 35px; background-color:#CACACA" class ="span-15 pdding example1 append-bottom center last">
			<div class="span-9 ">
			<h4><b>{{ p.title }}</b> [CANCELLED]<br>coach: {{p.coach.user.first_name}} {{p.coach.user.last_name}}</h4>
		</div>
		<div class="prepend-1 span-5 last">
			<form action="/uap_app/tutee/ticket_{{p.id}}">
				<button id="submit" style="width:130px" class="submit center" type="submit" value="submit">VIEW DETAILS</button>
			</form>
		</div>
		</div>
		{% endfor %}
	
	{% else %}
		{% if cancelled %}
		{% for p in cancelled %}
		<div style="height: 35px; background-color:#CACACA" class ="span-15 pdding example1 append-bottom center last">
			<div class="span-9 ">
			<h4><b>{{ p.title }}</b> [CANCELLED]<br>coach: {{p.coach.user.first_name}} {{p.coach.user.last_name}}</h4>
		</div>
		<div class="prepend-1 span-5 last">
			<form action="/uap_app/tutee/ticket_{{p.id}}">
				<button id="submit" style="width:130px" class="submit center" type="submit" value="submit">VIEW DETAILS</button>
			</form>
		</div>
		</div>
		{% endfor %}
		{%else%}
			<h4 align="center">You have no previous tickets</h4>
		{%endif%}
	{% endif %}
</div>
<div class="span-4"><p></p></div>
</div>

{% endblock %}