{% extends "base_admin.html" %}
{%block tickets%}class="selected"{% endblock %}
{% block content %}
<div class="container">
	<div class="span-3"><p></p></div>
<div class="example1 pdding prepend-top span-17 last append-bottom">
	<h1><b>tickets</b></h1> <hr>
	<div class="append-bottom">
	<h2 align="center"><b>new tickets--</b>need coach assignment</h2>
	{% if to_assign %}
		{% for t in to_assign %}
		<div style="background-color:#CACACA" class ="span-10 pdding example1 center last">
			<h3 align="center">{{ t.title }}</h3>
			<p align="center">{{t.area_of_interest}}<br> {{t.date_of_interest}}</p>
			<form action="/uap_app/admin/ticket_{{t.id}}">
				<button id="submit" class="submit center span-4" type="submit" value="submit">ASSIGN COACH</button>
			</form>
		</div>
		{% endfor %}
	{% else %}
	<h4 align="center">There are no new tickets.</h4>
	{% endif %}
	</div>
	<hr>
	
	<div class="append-bottom">
	<h2 align="center"><b>assigned tickets</b></h2>
	{% if assigned  %}
	   {% for p in assigned %}
	   	<div style="background-color:#CACACA" class ="span-10 pdding example1 center last">
			<h3 align="center">{{ p.title }}</h3>
			<p align="center"><b>{{p.tutee}}</b> matched with <b>{{p.coach}}</b></p>
			<form action="/uap_app/tutee/ticket_{{p.id}}">
				<button id="submit" class="submit center span-4" type="submit" value="submit">VIEW DETAILS</button>
			</form>
		</div>
		{% endfor %}
	{% else %}
	<h4 align="center">There are currently no assigned tickets</h4>
	{% endif %}
	</div> <hr>
	
	<div class="append-bottom">
	<h2 align="center"><b>submitted tickets--</b> coach has submitted meeting details</h2>
	{% if submitted  %}
	   {% for p in submitted %}
	   	<div style="background-color:#CACACA" class ="span-10 pdding example1 center last">
			<h3 align="center">{{ p.title }}</h3>
			<p align="center"><b>{{p.tutee}}</b> matched with <b>{{p.coach}}</b><br> Meeting Date: {{p.meeting_date}}</p>
			<form action="/uap_app/tutee/ticket_{{p.id}}">
				<button id="submit" class="submit center span-4" type="submit" value="submit">VIEW DETAILS</button>
			</form>
		</div>
		{% endfor %}
	{% else %}
	<h4 align="center">There are currently no submitted tickets</h4>
	{% endif %}
	</div> <hr>
	
	<div class="append-bottom">
	<h2 align="center"><b>completed tickets--</b> needs approval</h2>
	{% if approval  %}
	   {% for p in approval %}
	   	<div style="background-color:#CACACA" class ="span-10 pdding example1 center last">
			<h3 align="center">{{ p.title }}</h3>
			<p align="center"><b>{{p.tutee}}</b> matched with <b>{{p.coach}}</b></p>
			<form action="/uap_app/tutee/ticket_{{p.id}}">
				<button id="submit" class="submit center span-4" type="submit" value="submit">VIEW DETAILS</button>
			</form>
		</div>
		{% endfor %}
	{% else %}
	<h4 align="center">There are currently no completed tickets needing approval</h4>
	{% endif %}
	</div>
</div>
<div class="span-4"><p></p></div>
</div>

{% endblock %}