{% extends "base_coach.html" %}

{% block content %}
{% if messages%}
{%for message in messages%}
    <p style="background:#aef18d; color:green" class="success" id="success_id success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
{%endfor%}
{%endif%}
<h1>Profile</h1>

<p>Name: {{u.first_name}} {{u.last_name}}</p>
<p>Username:  {{u.username}}</p>

<form action="" method="POST">
	{% csrf_token %}
{{form.as_p}}
<input type="submit" value="Update" />
</form>


{% endblock%}