{% extends 'basecase.html' %}

{% block signup %}class="selected"{%endblock%}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
<div class="container">
		<div class="span-3"><p></p></div>
	<div class="login example1 pdding prepend-top append-1 span-17 last">
		<h1><b>coach application</b></h1>
		<h4>As an undergraduate, be a part of CSCC by applying for a coaching position!<br>
		<a href="/tutee/signup/">I am a graduate student.</a></h4><hr>
		<form class="login center" action="/coach/request/" method="post">
			{% csrf_token %}
			{{form.as_p}}
			<button style="width: 300px;" id="submit" class="submit center span-4" type="submit" value="submit">SUBMIT COACH APPLICATION </button>
		</form>
	</div>
	<div class="span-3"><p></p></div>
</div>
	
{% endblock %}