{% extends "base_coach.html" %}
{% block home%}class="selected"{%endblock%}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
	<div class="span-3"><p></p></div>
	<div class="example1 pdding prepend-top span-17 last append-bottom">
		<h1><b>welcome, {{request.user.username}}!</b></h1><hr>
		{% if open_tix %}
		<h3><b>Your Open Tickets</b></h3>
		{% for each in open_tix %}
		
		<div style="height: 35px; background-color:#CACACA" class ="span-15 pdding example1 append-bottom center last">
			<div class="span-9 ">
			<h4><b>{{ each.title }}</b>--({{each.date_of_interest}})<br><b>tutee:</b> {{each.tutee.user.first_name}} {{each.tutee.user.last_name}} ({{each.tutee.user.username}})</h4>
		</div>
		<div class="prepend-1 span-5 last">
			<form action="/coach/ticket_{{each.id}}">
				<button id="submit" style="width:130px" class="submit center" type="submit" value="submit">VIEW DETAILS</button>
			</form>
		</div>
		</div>
		
		{% endfor %}
		{%else%}
		<h3><b>You have no open assignments!</b></h3>
		<p align="center">Navigate to the <b>TICKETS</b> page to view your submitted or previously assigned tickets.</p>
		{%endif%}
</div>
</div>

{% endblock %}