{% extends "base_admin.html" %}
{% block home%}class="selected"{% endblock%}

{% block content %}
{% if messages%}
{%for message in messages%}
    <li style="background:#aef18d; color:green" class="success" id="success_id success" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{%endfor%}
{%endif%}

<div class="container">
	<div class="span-3"><p></p></div>
	<div class="example1 pdding prepend-top span-17 last append-bottom">
<h1><b>home</b></h1><hr>

<p>
you are logged in as {{request.user}}
</p>
</div>
</div>
{% endblock %}