{% extends "base_test.html" %}

{% block home %} class="selected"{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="container">
	<div class="span-3"><p></p></div>
<div class="example1 pdding prepend-top span-17 last append-bottom">
	<h1><b>welcome, {{request.user.username}}!</b></h1><hr>
	{% if current %}
	<h3><b>Check the status of your open ticket!</b></h3>
	<form>
		<button>View Ticket</button>
	</form>
	{% endif %}
	
	{% if new %}
	{% for n in new %}
	<form>
		<button>CREATE NEW </button>
	</form>
	{% endfor %}
	{% endif %}
	
</div>
<div class="span-4"><p></p></div>
</div>

{% endblock %}