{% extends "base_test.html" %}

{% block tickets %}class="selected"{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container">
	<div class="span-3"><p></p></div>
<div class="example1 pdding prepend-top span-17 last append-bottom">
	<h1><b>create new ticket</b></h1><hr>
	<form class="login signin" action="" method="post" data-ajax="false">
		{% csrf_token %}
		{{form.as_p}}
		<button id="submit" class="submit center span-4" type="submit" value="submit">Submit</button>
	</form>

</div>
<div class="span-4"><p></p></div>
</div>

{% endblock %}