{% extends 'base_admin.html' %}

{% block content %}
<div class="container">
	<div class="span-3"><p></p></div>
	<div class="example1 pdding prepend-top span-17 last append-bottom">
		<h1><b>new coach requests</b></h1><hr>
		{% if req %}
			{% for r in req %}
			<div style="background-color:#CACACA" class ="span-10 pdding example1 center last append-bottom">
				<h3 align="center"><b>{{ r.first_name }} {{r.last_name}}</b> ({{r.athena}})</h3>
				<p align="center"><b>{{r.get_course_display}}</b> 
					<br> 6.UAT {{r.get_uat_semester_display}} {{r.uat_year}}
					<br> {{r.phone}}</p>
				
				<form action="/uap_app/admin/coach_request_{{r.id}}/accept/">
					<button id="submit" class ="submit center span-2" type="submit" value="submit">ACCEPT</button>
				</form><br>
				<form action="#{{r.id}}">
					<button id="submit" class="submit subred center span-2" type="submit" value="submit">REJECT</button>
				</form>
			</div>
			<!--
				<div style="background-color:#CACACA" class ="span-10 pdding example1 center last append-bottom">
					<div class="span-6" style="background-color:red" ><p>help</p></div>
					<div class="span-3" style="background-color:green" ><p>help</p></div>
				</div>
			-->
			{% endfor %}
		{% endif %}
		
	</div>
</div>
{% endblock %}