{% extends 'base_admin.html' %}

{% block requests%}class="selected"{% endblock %}

{% block content %}
<div class="container">
	<div class="span-3"><p></p></div>
	<div class="example1 pdding prepend-top span-17 last append-bottom">
		<h1><b>new coach requests</b></h1><hr>
		{% if req %}
			{% for r in req %}
			<div style="height:75px; background-color:#CACACA" class ="span-14 pdding example1 center last append-bottom">
				<div class="span-9">
					<h3 align="">{{r.course}} <b>{{ r.first_name }} {{r.last_name}}</b> ({{r.athena}})</h3>
						6.UAT {{r.get_uat_semester_display}} {{r.uat_year}}, phone: {{r.phone}}</h3>
				</div>
				<div class="span-5 last">
					<form action="/app_admin/coach_request_{{r.id}}/accept/">
						<button id="submit" class ="submit center span-2" type="submit" value="submit">ACCEPT</button>
					</form><br>
					<form action="/app_admin/coach_request_{{r.id}}/reject/">
						<button id="submit" class="submit subred center span-2" type="submit" value="submit">REJECT</button>
					</form>
				</div>
			</div>
	
			{% endfor %}
		{% else %}
		<p align="center">There are no new coach requests.</p>
		{% endif %}
		
	</div>
</div>
{% endblock %}