{% extends 'base_test.html' %}

{% block home %} class="selected"{% endblock %}

{% block content %}

<div class="container">
<div class="example1 pdding preprend-1 span-22 append-1 prepend-top append-bottom">
	<h1><b>agreement guidelines</b></h1><hr>

	<p>Welcome to the pilot of this free program in which EECS undergraduates help give feedback on your oral presentation.</p>


	<p>Upon creation of a presentation meeting request, you will be randomly matched with an EECS undergraduate coach.   Then you should:</p>

	
		<ul>1) Contact the coach to arrange a 1.5 hour meeting.<br>
		2) Reserve a room with an LCD projector.<br>
		3) Meet with your coach for at most 1.5 hours.<br>
		4) Electronic confirmation of your meeting and meeting details with your coach (via this website). <br>
		5) Answer an exit survey. </ul>

	

	<p>What will happen when you meet with your coach:</p>

<ul>	- Please set up and be ready to present at the start of the meeting.<br>

	- You will do a dryrun of your talk (if a conference talk, usually 15-20 minutes)<br>

	- This talk will be recorded, and the video will be made available to you afterwards.<br>

	- After your dryrun, the coach will give you feedback, focusing on delivery.  They may have you redo parts of the talk to reinforce some ideas.<br>

	- Your advisor and research group are the primary source of feedback on the content of your talk, but the coach may comment things like:

<ul>	what was unclear to them?<br>

	where they inflected (phased out)?<br>

	how the visuals might be improved?<br>

	how signposting might help?</ul>




<p>
	I understand that this service is made freely available, and there is no guarantee that I'll be matched with a coach. <br>

	I understand that the coach would be an undergraduate majoring in EECS, but may not be familiar with my specific research area. <br>

	I understand that the coach's comments are subjective, based on how the presentation was perceived by them.   <br>

	I understand that the coach will give me some ideas and suggestions for how I might be able to improve the talk. <br>

	I understand that a single session will not transform me into a perfect speaker overnight;  public speaking improves over time with intentional practice.<br>

	I understand that I will be videotaped.  This video will not be publicly released, but may be used by EECS to evaluate the effectiveness of the program.<br>

	I understand that the coaching session is at most 1.5 hours, and that if I cannot make it, I will let the coach know ASAP.<br>

	I understand that if I fail to complete the exit survey, I will be ineligible to participate in this program in the future.<br>

	I understand that EECS may contact me after my actual talk, and agree to answer any followup survey questions about how the utility of the coaching session.<br>

</p>
<form action="/uap_app/tutee/home">
	<button style="width: 250px;" id="submit" class="submit center span-3" type="submit" value="submit">RETURN TO HOME </button>
</form>
</div>
</div>
{% endblock %}